@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-neo-purple: #BB86FC;
  --color-neo-teal: #03DAc6;
  --color-neo-blue: #23d1f6;
}

.model-section-animation {
  transition: all;
  transform: translateX(10vw) rotateX(90deg);
}

.controller-section-animation {
  transition: all;
  transform: translateX(-10vw) rotateX(-90deg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
